@import "tailwindcss";

@theme {
  --font-jersey: 'Jersey 10', cursive;
  --font-poppins: 'Poppins', sans-serif;
  --font-noto: 'Noto Sans Kannada', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #052e16;
}

* {
  box-sizing: border-box;
}
